## Neighborhood Ranking-(Data Source - Open Data Buffalo)

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
Tows=pd.read_csv(r'F:\Gentrification\Tows.csv')

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Tows.head()

,UNIQUE KEY,TOW DATE,AGENCY,VEHICLE YEAR,VEHICLE MAKE,LICENSE PLATE,LICENSE STATE,TOW LOCATION,CITY,STATE,...,LOCATION,LATITUDE,LONGITUDE,COUNCIL DISTRICT,POLICE DISTRICT,CENSUS TRACT,CENSUS BLOCK GROUP,CENSUS BLOCK,NEIGHBORHOOD,RANK
0,200701011DPE,01-01-2007,DPE,1989.0,LINC,NaN,NY,WEST/LAFAYETTE,Buffalo,NY,...,"(42.920054024431, -78.896732958268)",42.920054,-78.896733,NIAGARA,District D,61,1,1021,Upper West Side,9.0
1,200701012DPE,01-01-2007,DPE,1989.0,CADI,NaN,NY,39 VERDUN,Buffalo,NY,...,"(42.92843066956, -78.838442680967)",42.928431,-78.838443,MASTEN,District E,40.01,4,4013,Fillmore-Leroy,6.0
2,200701013DPE,01-01-2007,DPE,1993.0,BUIC,NaN,NY,STRAUSS/BROADWAY,Buffalo,NY,...,"(42.892579982873, -78.841201957649)",42.892580,-78.841202,FILLMORE,District C,16,1,1002,Broadway Fillmore,19.0
3,200701014DPE,01-01-2007,DPE,1996.0,TOYO,NaN,NY,51 POTOMAC,Buffalo,NY,...,"(42.924063871626, -78.897165223139)",42.924064,-78.897165,NIAGARA,District D,171,1,1019,Upper West Side,9.0
4,200701015DPE,01-01-2007,DPE,1998.0,CHEV,NaN,NY,4 WEST CHIPPEWA,Buffalo,NY,...,"(42.890051643417, -78.873070752459)",42.890052,-78.873071,ELLICOTT,District B,165,1,1019,Central,36.0

In [4]:
Tows['TOW DATE']=Tows['TOW DATE'].apply(lambda x:x[6] + x[7] +x[8] +x[9]) 
Tows['TOW DATE']=Tows['TOW DATE'].apply(lambda x:float(x))

In [5]:
# from datetime import datetime

In [6]:
# datetime.strptime('2012-02-10' , '%Y-%m-%d')

In [7]:
# Tows['TOW DATE']=Tows['TOW DATE'].apply(lambda x:datetime.strptime(x , '%m-%d-%Y') if x[2] == '-' else datetime.strptime(x , '%m/%d/%Y'))

In [8]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
Tows['TOW DESCRIPTION'] = lb_make.fit_transform(Tows['TOW DESCRIPTION'])
Tows['NEIGHBORHOOD'] = lb_make.fit_transform(Tows['NEIGHBORHOOD'].astype(str))
Tows['COUNCIL DISTRICT'] = lb_make.fit_transform(Tows['COUNCIL DISTRICT'].astype(str))
Tows['POLICE DISTRICT'] = lb_make.fit_transform(Tows['POLICE DISTRICT'].astype(str))
Tows['CENSUS TRACT'] = lb_make.fit_transform(Tows['CENSUS TRACT'].astype(str))

In [9]:
feature_cols =['TOW DATE','TOW DESCRIPTION','CENSUS TRACT']

In [10]:
 Tows['RANK'].fillna((Tows['RANK'].mean()),inplace=True)

In [11]:
# Tows['RANK'].fillna(0)

In [12]:
Tows["RANK"].astype('category')

0         9.00000
1         6.00000
2        19.00000
3         9.00000
4        36.00000
           ...
80593     1.00000
80594    19.62715
80595    30.00000
80596     7.00000
80597    35.00000
Name: RANK, Length: 80598, dtype: category
Categories (35, float64): [1.0, 2.0, 3.0, 4.0, ..., 36.0, 37.0, 38.0, 39.0]

In [13]:
X = Tows[feature_cols] # Features
y = Tows.RANK

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [15]:
# clf = DecisionTreeClassifier()

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
reg=DecisionTreeRegressor( max_depth=6)

In [18]:
reg = reg.fit(X_train,y_train)

In [19]:
y_pred = reg.predict(X_test)

In [20]:
y_pred

array([19.62715028,  6.        ,  4.        , ...,  3.        ,
        9.        , 19.62715028])

In [21]:
Predicted_rank=[] 
Predicted_rank= np.round(y_pred)

In [22]:
reg.score(X_test, y_test)

0.9025304928704929

In [23]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df.head(5)

         Actual  Predicted
74907  19.62715   19.62715
9829    6.00000    6.00000
13745   4.00000    4.00000
71958  19.62715   19.62715
15442  18.00000   19.21135

In [24]:
# from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1.4013704737142825
Mean Squared Error: 11.809549029329562
Root Mean Squared Error: 3.436502441339095

In [25]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by StandardScaler.
  """

In [26]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [27]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred,})
df

         Actual  Predicted
74907  19.62715   19.62715
9829    6.00000    6.00000
13745   4.00000    4.00000
71958  19.62715   19.62715
15442  18.00000   18.00000
...         ...        ...
67217  19.62715   19.62715
12325  25.00000   25.00000
51083   3.00000    3.00000
10738   9.00000    9.00000
71672  19.62715   19.62715

[24180 rows x 2 columns]

In [28]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 6.938972877588054e-14
Mean Squared Error: 2.859443225735904e-26
Root Mean Squared Error: 1.6909888307543324e-13